<p> This is your JSON Web Token so you can navigate the members only
    section of our cool ⛵ Boats/Loads/Users API.</p>

<table>
    <tr>
        <th>JSON Web Token</th>
    </tr>
    <tr>
        <td id="jwt"><%= data.id_token %></td>
    </tr>
</table>

<div class="button"><button id="jwt-copy">Copy JWT to Clipboard</button></div>

<p id='notice' style='display: none; color: green;'> JWT has been copied to the Clipboard</p>

