h1, h2, h3, h4, h5, h6, h7 {
    text-align: center;
}

h4 {
    color: #3a4100;
    border: 3px solid;
    padding: 10px;
    background-color: rgb(218, 226, 181);
}

html {
    min-height: 100%;
}

body {
    font-family: sans;
    height: 100%;
    background-image: linear-gradient(
    #f7fce8 60%,
    #bfc995 100%
    )
}

p {
    text-align: center;
}

table {
    margin: auto;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.container {
    width: 70%;
    margin: auto;
}

.container p  {
    margin: 40px 0 0 0;
}

td, span {
    font-size: 1.25rem;
    background-color: #4f4f4f;
    color: #FFEE00;
    font-family: monospace;
    padding: 5px 10px;
    word-break: break-all;
}

th {
    padding: 10px;
    font-size: 1.25rem;
}

button {
    width: 500px;
    height: 50px;
    text-transform: uppercase;
    font-size: 1.5rem;
}