<!DOCTYPE html>
<html>
    <head>
        <title>George Kochera - Final Project - CS 493</title>
        <link rel='stylesheet' href='/css/style.css'/>
    </head>

    <body>
        <%- include('../partials/header'); %>
        <div class='container'>
            <p>This is the documentation for the API project.</p>
            <div class='button'>
                <a href="/"><button>Return to Home</button></a>
            </div>
        </div>
    </body>
</html>