<!DOCTYPE html>
<html>
    <head>
        <title>George Kochera - Final Project - CS 493</title>
        <link rel='stylesheet' href='/css/style.css'/>
    </head>

    <body>
        <%- include('../partials/header'); %>
        <div class='container'>
            <p>This is the documentation for the API project.</p>
            <div class='button'>
                <a href="/"><button>Return to Home</button></a>
            </div>
        </div>
        <!-- Begin API Endpoints -->

        <!-- Create a Boat -->
        <div class='section'>
            <h3>Create a Boat</h3>
            <p>Endpoint: <pre><span class='method'>POST</span>/boats</pre></p>
            <p>Request Headers</p>
        </div>
    </body>
</html>

