<!DOCTYPE html>
<html>
    <head>
        <title>George Kochera - Final Project - CS 493</title>
        <link rel='stylesheet' href='/css/style.css'/>
    </head>
    <body>
        <div class='container'>
            <%- include('../partials/header'); %>

            <p>This is the final Portfolio Project for Oregon State University's CS493 Cloud Application Development Class. It consists of a Web Front-End for retrieving a JWT to access the Cargo Management API. It's strongly recommended that you perform transactions with the API using a tool such as Postman or cURL.
            </p>

            <h2>Step 1 - Check the Documentation</h2>
            <div class='button'>
                <a href="/docs"><button>Read the Docs</button></a>
            </div>

            <% if (message !== null) { %>
                <% if (message === "notRegistered") { %>
                    <h4>You haven't registered yet. Please click 'Sign-Up with Google' below.</h4>
                <% } %>
                <% if (message === "alreadyRegistered") { %>
                    <h4>You're already registered. Please click 'Login with Google' below.</h4>
                <% } %>
            <% } %>


            <h2>Step 2 - Register</h2>
            <div class='button'>
                <a href="/users/signup"><button>Sign-Up with Google</button></a>
            </div>

            <h2>Step 3 - Login and Get Your JWT</h2>
            <div class='button'>
                <a href="/users/login"><button>Login with Google</button></a>
            </div>

        </div>
    </body>
</html>