<!DOCTYPE html>
<html>
    <head>
        <title>George Kochera - Final Project - CS 493</title>
        <link rel='stylesheet' href='/css/style.css'/>
    </head>
    <body>
        <div class='container'>
            <%- include('../partials/header'); %>
            <p>This is the final Portfolio Project for Oregon State University's CS493 Cloud Application Development Class. It consists of a Web Front-End for retrieving a JWT to access our Boats API and the Boats/Loads/Users API itself (accessible with a tool such as Postman or Curl).
            </p>
            <div class='button'>
                <a href="/users/login"><button>Login with Google</button></a>
            </div>
            <div class='button'>
                <a href="/users/signup"><button>Sign-Up with Google</button></a>
            </div>
        </div>
    </body>
</html>